body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #e0eafc, #cfdef3);
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}
.header h1 {
    margin: 0;
}
.nav-links .link-button {
    background: none;
    border: none;
    color: black;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 20px;
    font-size: 16px;
}
.sign-out-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.main-content {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.circle {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto; /* Center the circle and add space below */
}
.logo {
    width: 50px; /* Adjust the size of the logo */
    height: 50px;
}
h2 {
    font-size: 45px;
}
h3 {
    font-size: 37px;
    color: #444444
}
p {
    padding-top: 10px;
    font-size: 18px;
    color: #444444

}
.chat-box {
    padding-top: 250px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.chat-bubble {
    background-color: #f1f1f1;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    width: 60%;
}
input[type="text"] {
    width: calc(100% - 40px);
    padding: 10px;
    border-radius: 25px;
    border: none;
    margin-right: -35px;
}
button {
    background-color: #C1E3F3;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 25px;
    margin-left: -35px;
    cursor: pointer;
}
