.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to bottom right, var(--purple) , var(--blue));
    padding: .75rem 4rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}
  
.navbar-brand {
    font-weight: bold;
    font-size: 1.25rem;
}
  
.navbar-links {
    list-style: none;
    font-size: .9rem;
    display: flex;
    gap: clamp(1rem, 15vw, 20rem);
    margin: 0;
    padding: 0;
}
  
.navbar-signout {
    background-color: black;
    color: white;
    font-size: .9rem;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    border-radius: 5rem;
}